@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: gold !important;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}